<h2>Receive Weather Statistic!</h2>
    <div *ngIf="City.touched && City.errors">
        <div class="alert alert-danger" *ngIf="!City.valid && !isFound"> Please insert a valid city with English alphabet </div>
    </div>
    <div *ngIf=!isFound>
            <div class="alert alert-danger"> We didn't find the city. Are you sure about the spell? </div>
    </div>

    <div class="row">
                <form  role="form" #f="ngForm">
                    <div class="col-lg-6">
                        <h5><p>Enter the name of your favorite city in the bellow box to see <strong> weather statistic </strong>.</p> </h5>
                        <div  class="input-group">
                            <input  
                                    ngControl="City"
                                    #City="ngForm"
                                    id="City"
                                    type="text" 
                                    class="form-control" 
                                    [(ngModel)]=cityName  
                                    placeholder="City Name..."
                                    required 
                                    pattern="[A-Za-z]{3,}">
                               
                            <span class="input-group-btn">
                                <button class="btn btn-default" (click)="submit()" type="button" [disabled]="!f.valid" >Go!</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                            <img src="./app/shared/pic/final.png">
                    </div>
                </form>
        </div>
       
        <div *ngIf="isLoading">
            <strong>Loading</strong>
            <i class="fa fa-spinner fa-spin" style="font-size:48px"></i>
        </div>
        <div style="height:500px;">        
            <div *ngIf=isFound style="height:auto;">
                <hr>
                <ul style="height:500px; overflow-x:hidden; overflow-y:auto">
                    <li *ngFor="let city of cities" style="list-style-type: none;">
                        <report (SelectToDelete)="OnDelete($event)" 
                                [iconLink]="city.iconLink" [cityName]="city.name" 
                                [temp]=city.temp [main]=city.main 
                                [pressure]=city.pressure [humidity]=city.humidity 
                                class="w3-container w3-center w3-animate-top transition-duration: 5s;"></report>
                    </li>
                </ul>
            </div>
        </div>